@media screen and (max-width: 1360px) { 

.warrior-carousel.owl-carousel .owl-nav .owl-next {
		margin-left: -40px;
	}

	.warrior-carousel.owl-carousel .owl-nav .owl-prev {
		margin-right: -40px !Important;
	}


}

@media screen and (max-width: 1200px) {
	.container {
		width: 95%;
		max-width: 1180px;
	}

	
}

@media screen and (max-width: 1000px) {
	.mobile-menu {
		display: inline-block;
	}

	.slicknav_nav {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 2;
		background: #222;
		width: 200px;
	}

	#search-full input[type="text"] {
		font-size: 14px;
	}

	.slicknav_nav ul {
		margin: 0;
	}

	.slider-with-thumbnail-preview article.hentry.full-width-post .thumbnail {
		margin-bottom: 0;
	}

	.slider-with-thumbnail-preview article.hentry.full-width-post .entry-content {
		bottom: 0;
	}

	.slider-with-thumbnail article.post-overlay .entry-content h3.post-title a,
	.slider-with-thumbnail article.post-overlay .entry-content h3.post-title  {
		font-size: 18px !important;
		line-height: 24px;
	}

	nav#main-menu.site-navigation ul.main-menu > li:after {
		content: none;
	}

	.site-navigation ul li a,
	.site-navigation ul li a a {
		/*display: block !important;*/
		/*color: #fff !important;*/
		border-radius: 0 !Important;
		margin: 0 !important;
	}

	.site-navigation ul li.menu-item-has-children ul.sub-menu {
		position: inherit;
		width: 100% !important;
		padding-right: 0 !important;
		margin-right: 0 !important;	
		right: 0 !important;
}

	nav#main-menu.site-navigation ul li:hover  a {
		color: #303030;
		border-radius: 0;
	}

	.site-navigation ul li a a {
		display: inline-block !important;
		padding: 0 !important;
	}

	.site-navigation ul li {
		display: block;
	}

	.site-navigation ul.top-menu li {
		display: inline-block;
	}

	.slicknav_menu {
		position: relative;
	}

	.container {
		max-width: 90%;
	}

	#logo {
		max-height: 130px;
		padding: 40px 0;
	}

	#logo a, #logo img {
		height: 50px;
	}
	
	#main-menu > ul.main-menu{
		display: none;
	}

	#primary, #secondary-content {
		width: 100%;
		margin-right: 0;
	
		padding: 0;
		margin-left: 0;
}

	#primary {
		margin-bottom: 80px;
		border-bottom: solid 1px #ccc;
	}

	.row .column-4,
	.categories-list ul li {
		width: 100%;
	}
	.row .column-4 .inner {
		padding-right: 0;
	}

	#footer-navigation {
		float: left;
		margin-top: 20px;
	
		margin-left: -10px;
		clear: both;
		width: 100%;
}

#footer-navigation ul li {
	display: inline-block;
}

	.contact-layout .contact-info,
	.contact-layout .contact-form {
		float: left;
		width: 100%;
		margin-bottom: 40px;
	}

	.flex-direction-nav .flex-prev { opacity: 1; left: 30px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 30px;}
}

@media screen and (max-width: 780px) {
	article.hentry.full-width-post.left-thumbnail .thumbnail, 
	article.hentry.full-width-post.left-thumbnail .entry-content,
	.row .column-2,
	.row .column-3 {
		width: 100%;
	}

	.mobile-top-menu,
	.mobile-footer-menu {
		display: inline-block;
	}

	#main-menu > ul.main-menu,
	.top-menu,
	.site-navigation > .footer-menu {
		display: none;
	}

	.site-navigation ul li,
	.site-navigation ul.top-menu li {
		display: block;
	}


	.homepage-widget.widget-type-1 article.hentry.full-width-post, 
	article.hentry.full-width-post.left-thumbnail .thumbnail, 
	.homepage-widget.widget-type-5 article.hentry.full-width-post {
		padding-right: 0;
	}

	.footer-widgets .column,
	#footer-widgets .column {
		margin-bottom: 50px;
	}

	.article-widget.post-navigation ul li {
		float: left;
		width: 100% !important;
		max-width: inherit;
	}
	.article-widget.post-navigation ul li article.hentry.square-thumb-post .thumbnail {
		float: left !important;
		margin-left: 0 !important;
		margin-right: 20px !important;
	}

	.article-widget.post-navigation ul li article.hentry.square-thumb-post .entry-content {
		text-align: left !important;
		margin-left: 100px !important;
		margin-right: 0 !important;
	}

	.flex-direction-nav a:before {
		font-size: 24px;
		margin-bottom: 100px;
	}

	article.hentry.full-width-post.left-thumbnail .thumbnail,
	article.hentry.full-width-post,
	.footer-widget{
		margin-bottom: 15px;
	}

	.slider-with-thumbnail .slider-with-thumbnail-thumbnails {
		display: 	none;
	}

	#footer-navigation {
		float: right;
		clear: none;
	
		width: auto;
		margin-top: 10px;
		margin-left: 0;
}

#footer-navigation ul li {
	display: block;
	text-align: right;
}

#footer-navigation .slicknav_btn {
	font-size: 12px;
	padding: 10px;
}
}

@media screen and (max-width: 640px) {
	.form-group.col-60 {
		width: 100%;
	}
	#footer-navigation {
		float: left;
		width: 100%;
	}

	ul.tab-nav li a {
		font-size: 10px;
		padding: 10px;
	
		line-height: 10px;
	
	}

	.social-share-widget ul li {
		padding-bottom: 0;
		margin-bottom: 0 !important;
	}

	.social-share-widget ul li a {
		display: block;
	}

	.author-wrapper .thumbnail {
		display: block;
		float: none;
		margin: 0 auto;
	}

	.author-wrapper .detail {
		margin-left: 0;
		text-align: center;
		margin-top: 20px;
	}

	#top-navigation {
		float: left;
		width: 100%;
	}

	.mobile-top-menu,
	.mobile-footer-menu {
		display: block;
		width: 100%;
		position: relative;
		float: none;
	}

	.mobile-top-menu .slicknav_menu {
		margin-right: 0;
	}
	.mobile-top-menu .slicknav_btn,
	.mobile-footer-menu .slicknav_btn {
		position: absolute;
		bottom: 100%;
		right: 0;
	
		padding-right: 0;
		font-size: 12px;
}

	.mobile-top-menu .slicknav_nav,
	.mobile-footer-menu .slicknav_nav {
		position: inherit;
	
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	#main-header .search-widget {
		position: absolute;
		right: 0;
		padding: 20px 0 20px 50px;
	}

	#main-header .container {
		position: relative;
	}
	nav#main-menu.site-navigation {
		float: none;
		width: 100%;
		clear: both;
		padding: 0 0 20px 0;
	}

	#logo {
		padding-bottom: 20px;
	}

	.mobile-menu,
	.slicknav_menu,
	.slicknav_btn {
		display: block;
		margin-right: 0;
		float: none;
		text-align: right;
	}

	.slicknav_btn > span {
		float: none !important;
		display: inline-block !important;
	}
	.slicknav_nav,
	.slicknav_nav li.menu-item-has-children ul.sub-menu {
		position: inherit !important;
		float: none;
		display: block;
		width: 100% !Important;
	}

	#site-info .author {
		float: none;
	}
}